<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NewTutorHere</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/scripts/mustache.js"></script>
  <script type="text/javascript" src="/scripts/modal.js"></script>
  <script type="text/javascript" src="/scripts/custom.js"></script>
  <script type="text/javascript" src="/scripts/function.js"></script>

</head>

<body>
  <%- include navbar_admin %>

  <div style="float:right">
  </div>

  <div class="big-bg">
    <!-- Content -->
    <div class="dashboard">
      <!-- Search Bar -->
      <div class="search-admin-box color-lightgreen center" id="search-form">
        <form class="form" action=/home_admin id="search" method="GET">
          <span class="form-name">
            <p>Find a user</p>
          </span>
          <div class="form-group">
            <div class="form-input">
              <input type="text" id="user-name-filter" name="username" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <div class="half-box be-left">
              <div class="form-input drop-down">
                <select id="position-filter" name="position" style="width: 100%;">
                  <option value="" disabled selected>Type</option>
                  <option value="tutor">Tutor</option>
                  <option value="student">Student</option>
                </select>
              </div>
            </div>
            <div class="half-box be-right">
              <div class="form-input">
              </div>
            </div>
          </div>
          <button class="submit-button search-button" onclick="search()">Search</button>
        </form>

      </div>

      <div class="tutors-box color-lightgreen center">
        <!-- Begin of contract list -->

        <%if (typeof searchResults!= 'undefined') { %>
          <%for(result of searchResults) {%>
          <div class="admin-box center" >
            <img class="nav-img-user" src="../img/user.png" style="height: 5em;" />
            <div class="c-box be-right">
              <div class="blockcontract">
                <span class="name-contract">
                  <b> <%= result.username %></b>
                </span>
                <br />
                <a class="view3-button search-button be-right" href="home_admin/profile_admin/<%= result.username %> ">View profile</a>
              </div>
            </div>
          </div>
      
        <% }} %>


      </div>

<script>
    function clicked(name) {
      document.cookie = "nextpf= " +name;
    }
</script>





</html>