<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NewTutorHere</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
  <!-- <link rel="shortcut icon" href="img/dog.ico" /> -->

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <!-- <script src="script.js"></script> -->
  <!-- <script>checkStatus()</script> -->
</head>

<body>
  <%- include navbar %>

  <!-- TODO: Put this at the right position please -->
  <div style="float:right">
    <%if (name) { %>
    Welcome, <%= name %>
    <% } %>
  </div>

  <div class="big-bg">
    <!-- Content -->
    <div class="dashboard">

      <!-- Search Bar -->
      <div class="search-box color-lightgreen center" id="search-form">
        <form class="form" action=/home id="search" method="GET">
          <span class="form-name">
            <p>Find your tutor</p>
          </span>
          <div class="form-group">
            <label class="control-label">Subject</label>
            <div class="form-input">
              <input type="text" id="subject-filter" name="subject">
            </div>
          </div>
          <div class="form-group">
            <div class="half-box be-left">
              <label class="control-label">Education Level</label>
              <div class="form-input drop-down">
                <select id="edu-lv-filter" name="edu-lv" style="width: 100%;">
                  <option value="0">Any Level</option>
                  <option value="1">Pre-School</option>
                  <option value="2">Elementary-School</option>
                  <option value="3">Middle-School</option>
                  <option value="4">High-School</option>
                  <option value="5">Bachelor</option>
                </select>
              </div>
            </div>
            <div class="half-box be-right">
              <label class="control-label">City</label>
              <div class="form-input">
                <input type="text" id="city-filter" name="city">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="half-box be-left">
              <label class="control-label">Rating</label>
              <br>
              <div class="rating">
                <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="Great">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="Good">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="Okay">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="Bad">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="Very Bad">1
                  star</label>
              </div>
              </br>
            </div>
            <div class="half-box be-right">
              <label class="control-label">Price</label>
              <div class="form-input">
                <div class="form-group">
                  <div class="half-box be-left" style="width: 30%;">
                    <div class="form-input">
                      <input type="text" id="minprice-filter" name="minprice" placeholder="฿">
                    </div>
                  </div>
                  <label class="control-label-price be-left">-</label>
                  <div class="half-box be-left" style="width: 30%;">
                    <div class="form-input">
                      <input type="text" id="maxprice-filter" name="maxprice" placeholder="฿">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="submit-button search-button" onclick="search()">Search</button>
        </form>



      </div>

    </div>
  </div>

</body>

</html>