<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NewTutorHere</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

 <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <script type="text/javascript" src="/scripts/mustache.js"></script>
 <script type="text/javascript" src="/scripts/modal.js"></script>
 <script type="text/javascript" src="/scripts/custom.js"></script>
 <script type="text/javascript" src="/scripts/function.js"></script>
 
</head>

<body>
  <%if (typeof role!= 'undefined') { %>
    <% if (role == 'student') { %>
      <%- include navbar_student %>
    <% } else if (role == 'tutor') {%>
      <%- include navbar_tutor %>
    <% } else if (role == 'admin') {%>
      <%- include navbar_admin %>
    <% } %> 
  <% } %>

  <div style="float:right">
  </div>

  <div class="big-bg">
    <!-- Content -->
    <div class="dashboard">
      <!-- Search Bar -->
      <div class="search-admin-box color-lightgreen center" id="search-form">
        <form class="form" action=/home id="search" method="GET">
          <span class="form-name">
            <p>Find a user</p>
          </span>
          <div class="form-group">
            <div class="form-input">
              <input type="text" id="user-name-filter" name="subject" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <div class="half-box be-left">
              <div class="form-input drop-down">
                <select id="level-filter" name="level" style="width: 100%;">
                  <option value="" disabled selected>Type</option>
                  <option value="0">Tutor</option>
                  <option value="1">Student</option>
                </select>
              </div>
            </div>
            <div class="half-box be-right">
              <div class="form-input">
              </div>
            </div>
          </div>
          <button class="submit-button search-button" onclick="search()">Search</button>
        </form>

      </div>

      <div class="tutorse-box color-lightgreen center">
       <!-- Begin of contract list -->

        
        <form class="form" id="user" >
          <img class="nav-img-user" src="../img/user.png" style="height: 5em;" />
          <div class="c-box be-right">
            <div class="blockcontract">
              <span class="name-contract">
                <h2> </h2>
              </span>
              <br />
              <a class="view2-button search-button be-right" >View profile</a>
            </div>
          </div>
        </form>
  

  
      </div>

  <!-- <script> 

    function clicked(name) {
      document.cookie = "nextpf= " +name;
    }

  </script> -->
      
      
     


</html>