<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NewTutorHere</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
    <!-- <link rel="shortcut icon" href="img/dog.ico" /> -->

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <!-- <script src="script.js"></script> -->
    <!-- <script>checkStatus()</script> -->
  </head>

  <body>
    <!-- All Screen-->
    <div class="big-bg">
        <div class="half be-left color-white">
            <div class="index-box center">
                <img class="main-logo center" src="img/logo.png" />
                <br>
                <center><h1>NEW TUTOR HERE</h1></center>
            </div>
        </div>

        <div class="half be-right color-green">
            <!-- sign-in-form -->
            <div class="index-box center" id="sign-in-form">
                <form class="form" id="sign-in">
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <div class="form-input">
                            <input type="text" id="username-signin" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <div class="form-input">
                            <input type="password" id="password-signin" name="password">
                        </div>
                    </div>
                </form>
                <button class="submit-button sign-in-button center" onclick="signIn()">Log In</button>
                <button class="submit-button sign-up-button center" onclick="showSignUpForm()">Sign Up</button>

            </div>
        </div>
    </div>

    <!-- sign-up-form -->
    <div class="big-bg popup" id="sign-up-form">
        <div class="form-bg color-lightgreen center" id="sign-up-form-bg">
          <span class="form-name">
            <p>Create your account</p>
          </span>
          <div class="form-information-bg">
            <form class="form" id="sign-up">
                <div class="form-group">
                    <input type="radio" name="position" value="student" checked><label class="control-label">Student</label>
                    <input type="radio" name="position" value="tutor"><label class="control-label">Tutor</label>
                </div>
                <div class="form-group">
                    <div class="half-box be-left">
                        <label class="control-label">First Name</label>
                        <div class="form-input">
                            <input type="text" id="firstname-signup" name="firstname">
                        </div>
                    </div>
                    <div class="half-box be-right">
                        <label class="control-label">Last Name</label>
                        <div class="form-input">
                            <input type="text" id="lastname-signup" name="lastname">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <div class="form-input">
                        <input type="text" id="username-signup" name="username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="box-left">
                        <label class="control-label">Password</label>
                        <div class="form-input">
                            <input type="password" id="password-signup" name="password">
                        </div>
                    </div>
                    <div class="box-right">
                        <label class="control-label">Re-Password</label>
                        <div class="form-input">
                            <input type="password" id="confirm-password-signup" name="password">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Telephone Number</label>
                    <div class="form-input">
                        <input type="text" id="phone-signup" name="phone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <div class="form-input">
                        <input type="email" id="e-mail-signup" name="e-mail">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Date Of Birth</label>
                    <div class="form-input drop-down">
                        <select id="bdate-signup" name="bdate"></select>
                        <select id="bmonth-signup" name="bmonth">
                            <option value="" disabled selected>Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <select id="byear-signup" name="byear"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Gender</label>
                    <div class="form-input drop-down">
                        <select id="gender-signup" name="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="others">Not Specified</option>
                        </select>
                    </div>
                </div>
            </form>
            <button class="submit-button sign-up-button center" onclick="signUp()">Register</button>
            <div class='text-sign-in'>
                <p>Already have an account ?</p>
                <p class="link-sign-in" onclick="showIndex()">Click Here</p>
            </div>
        </div>

    </div>
    <script>
        var bdate = document.getElementById("bdate-signup");
        var days = "<option value=\"\" disabled selected>Day</option>";
        for (let i = 1; i <= 31; i++) {
            days += "<option value=\"" + i + "\">" + i + "</option>";
        }
        bdate.innerHTML = days;

        var byear = document.getElementById("byear-signup");
        var years = "<option value=\"\" disabled selected>Year</option>";
        for (let i = 1960; i <= 2020; i++) {
            years += "<option value=\"" + i + "\">" + i + "</option>";
        }
        byear.innerHTML = years;

    </script>
  </body>

</html>
