<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NewTutorHere</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
    <!-- <link rel="shortcut icon" href="img/dog.ico" /> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"
        integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
        integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/modal.js"></script>
    <script type="text/javascript" src="/scripts/custom.js"></script>

</head>

<body>

    <!--The Modal--> 
    <div class="my-modal" id="my-modal">
        <div class="my-modal-body" id="my-modal-body">

            <!--For Content-->
            <div class="my-modal-head" id="my-modal-head">Heading</div>
            <hr>
            <div class="my-modal-content">
                <p id="my-modal-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa enim harum fuga illum alias quo doloribus explicabo, saepe voluptates, eligendi molestias tempore asperiores assumenda reiciendis, vel ducimus animi ad quis.</p>
            </div>

            <!--For OK Modal-->
            <div class="my-modal-inline" id="my-modal-button-one">
                <div class="my-modal-button my-modal-green my-hidden" id="my-modal-button-ok">
                    <p>OK</p>
                </div>
            </div>
            <!--For Yes/No Modal-->
            <div class="my-modal-inline" id="my-modal-button-two">
                <div class="my-modal-button my-modal-red" id="my-modal-button-no">
                    <p>No</p>
                </div>
                <div class="my-modal-button my-modal-green" id="my-modal-button-yes">
                    <p>Yes</p>
                </div>
            </div>
        </div>
    </div> 


    <!-- sign-up-form -->
    <div class="big-bg popup" id="sign-up-form">
        <div class="form-bg color-lightgreen center" id="sign-up-form-bg">
            <button class="close-button be-right"><i class="fa fa-close" onclick="closeButton()"></i></button>
            <span class="form-name">
                <p>Create your account</p>
            </span>
            <div class="form-information-bg">
                <form class="form" action=/register id="sign-up" method="POST">
                    <div class="form-group">
                        <input type="radio" name="position" value="student" checked><label
                            class="control-label">Student</label>
                        <input type="radio" name="position" value="tutor"><label class="control-label">Tutor</label>
                    </div>
                    <div class="form-group">
                        <div class="half-box be-left">
                            <div class="form-input">
                                <input type="text" id="firstname-signup" name="firstname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="half-box be-right">
                            <div class="form-input">
                                <input type="text" id="lastname-signup" name="lastname" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="form-input">
                            <input type="text" id="username-signup" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="half-box be-left">

                            <div class="form-input">
                                <input type="password" id="password-signup" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="half-box be-right">

                            <div class="form-input">
                                <input type="password" id="confirm-password-signup" name="confirmed-password"
                                    placeholder="Re-Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="form-input">
                            <input type="text" id="phone-signup" name="phone" placeholder="Telephone Number">
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="form-input">
                            <input type="email" id="e-mail-signup" name="email" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="form-input">
                            <input type="text" id="location-signup" name="location" placeholder="Location">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Date Of Birth</label>
                        <div class="form-input drop-down">
                            <select id="bdate-signup" name="bdate"></select>
                            <select id="bmonth-signup" name="bmonth">
                                <option value="" disabled selected>Month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <select id="byear-signup" name="byear"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Gender</label>
                        <div class="form-input drop-down">
                            <select id="gender-signup" name="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="others">Not Specified</option>
                            </select>
                        </div>
                    </div>
                    <button class="submit-button center">Register</button>
                </form>

                <div class='text-sign-in'>
                    <p>Already have an account ?</p>
                    <p class="link-sign-in" onclick="showIndex()">Click Here</p>
                </div>
            </div>
        </div>
    </div>

    <!-- All Screen-->
    <div class="big-bg">
        <div class="half be-left color-white">
            <div class="index-box center">
                <img class="main-logo center" src="img/logo.png" />
                <br>
                <center>
                    <h1 class="header">NEW TUTOR HERE</h1>
                </center>
            </div>
        </div>

        <div class="half be-right color-green">
            <!-- sign-in-form -->
            <div class="index-box center" id="sign-in-form">
                <form class="form" action="/" id="sign-in" method="POST">
                    <div class="form-group username">
                        <label class="control-label-index">Username</label>
                        <div class="form-input">
                            <input type="text" id="username-signin" name="username">
                        </div>
                    </div>
                    <div class="form-group password">
                        <label class="control-label-index">Password</label>
                        <div class="form-input">
                            <input type="password" id="password-signin" name="password">
                        </div>
                    </div>
                    <div class="message" style="color: red;">
                        <%if (typeof wrong != 'undefined') { %>
                            <%= wrong %>
                        <% } %>
                    </div>
                   
                    <button type="submit" class="submit-button sign-in-button center">Log In</button>
                </form>


                <!-- <div class="form" id="sign-in">
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <div class="form-input">
                            <input type="text" id="username-signin" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <div class="form-input">
                            <input type="password" id="password-signin" name="password">
                        </div>
                    </div>
                    <button type="submit" class="submit-button sign-in-button center" onclick="signIn()">Log In</button>
                </div> -->

                <!-- <button class="submit-button sign-in-button center" onclick="signIn()">Log In</button> -->
                <button class="submit-button sign-up-button center" onclick="showSignUpForm()">Sign Up</button>

            </div>
        </div>
    </div>

    <!-- Animation library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    
    <script>
        var bdate = document.getElementById("bdate-signup");
        var days = "<option value=\"\" disabled selected>Day</option>";
        for (let i = 1; i <= 31; i++) {
            days += "<option value=\"" + i + "\">" + i + "</option>";
        }
        bdate.innerHTML = days;

        var byear = document.getElementById("byear-signup");
        var years = "<option value=\"\" disabled selected>Year</option>";
        for (let i = 1960; i <= 2020; i++) {
            years += "<option value=\"" + i + "\">" + i + "</option>";
        }
        byear.innerHTML = years;

        function closeButton() {
            ModalAnimationReversed();
        }

        function showSignUpForm() {
            $("#sign-up-form").css("display", "flex");
            ModalAnimation();
        }

        //Animation page
        function Animation(reverse = false) {
                const tl = new TimelineLite({
                    ease: Expo.easeOut
                });
                const logo = document.querySelector('.main-logo');
                const header = document.querySelector('.header');
                const username = document.querySelector('.username');
                const password = document.querySelector('.password');
                const signinButton = document.querySelector('.sign-in-button');
                const signupButton = document.querySelector('.sign-up-button');
                const message = document.querySelector('.message');
                tl.fromTo([logo, header, username, password, signinButton, signupButton, message], 1, {
                    opacity: 0,
                    y: 50
                }, {
                    opacity: 1,
                    y: 0
                })
            }
        Animation();

        //Animation modal
        function ModalAnimationReversed() {
                ModalAnimation(true);
            }

        function ModalAnimation(reversed = false) {
            const modal = document.getElementById('sign-up-form');
            const modal_body = document.getElementById('sign-up-form-bg');
            const tl = new TimelineLite({ easeIn: Power3.easeOut });
            tl.fromTo(modal, 0.20, { opacity: 0 }, { opacity: 1 }, 0)
            tl.fromTo(modal_body, 0.20, {
                scale: 0,
                opacity: 0
            }, {
                scale: 1,
                opacity: 1
            }, 0);
            if (reversed) {
                tl.reverse(0.3);
                setTimeout(function () {
                    $("#sign-up-form").css("display", "none");
                }, 500);
            }
        }
    </script>
</body>

</html>