<!-- Navigation bar -->
<ul class="nav-bar be-left color-green">
    <li><a href="/home">
            <img class="nav-img-logo be-left" src="/img/logo_bg.png" style="height: 2em;" />
        </a></li>
    <li class='title'><a href="/home">NEW TUTOR HERE</a></li>
    <li style="float:right">
        <ul class="nav-menu">
            <li class="profile center" style="width: 7em;">
                <a href="#">
                    <img class="nav-img-user" src="/img/user.png" style="height: 3.5em;" />
                    <img class="nav-img-dropdown" src="/img/drop-down.png" style="height: 1em;" />
                </a>
                <ul class="dropdown">
                    <li><a href="/home/profile">Profile</a></li>
                    <li><a href="/">Log Out</a></li>
                </ul>
            </li>
            <li class='text'><a href="/home/tutors_contract">Contracts</a></li>
            <li class='text'><a href="/home">Home</a></li>
        </ul>
    </li>
</ul>