<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NewTutorHere</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
    <!-- <link rel="shortcut icon" href="img/dog.ico" /> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/routes/allFunction.js"></script>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <!-- <script src="script.js"></script> -->
    <!-- <script>checkStatus()</script> -->
</head>

<body>
    <%if (typeof role!= 'undefined') { %>
        <% if (role == 'student') { %>
          <%- include("navbar_student.ejs", {notification_data: notification_data}); %>
        <% } else if (role == 'tutor') {%>
          <%- include("navbar_tutor.ejs", {notification_data: notification_data}); %>
        <% } else if (role == 'admin') {%>
          <%- include navbar_admin %>
        <% } %> 
      <% } %>

    <!-- payment -->
    <div class="big-bg popup" id="viewPayment-popup" >
        <div class="form-bg color-lightgreen center" id="viewPayment-popup-bg">
        <button class="close-button be-right"><i class="fa fa-close" onclick="closePaymentPopupButton()"></i></button>
        <br><br>
        <span class="form-name-thankyou">
            <p>Payment</p>
        </span><br>
        <div class="form-information-bg">
            <form class="form" id="payment" action="/home/buy_premium" method="POST">
                <center>
                <b>Upgrade to Premium</b><br>
                <p>Before we upgrade your premium,</p>
                <p>let's make sure we've got the right</p>
                <p>billing details.</p><br />
                <p>As always, you can cancel online</p>
                <p>at any time.</p>
                <br /><br /><br>
                </center>
                <div class="rating-box" style="width: 69%;">
                    <button class="view2-button search-button be-right">Confirm</button>
                    <a class="view2-button search-button be-right" onclick="closePaymentPopupButton()">Not Now</a>
                </div>
            </form>
        </div>
        </div>
    </div>
    

    <div class="big-bg">
        <% if(pf.is_premium == 'no'){%>
        <form>
        <!-- <form action="/home/buy_premium" method="POST"> -->
            <% }else{  %>
                <form action="/home/cancel_premium" method="POST">
                <%}%>
            <div class="dashboard">
                <div class="premium-box color-lightgreen center" id="contract-form" >
                    <div class="blockpremi center">
                        <span class="premi">
                            <center><p>Premium</p></center>
                            <center><p1>฿89</p1></center>
                            <center><p2>per month</p2></center>
                            <div class="premi-detail">
                                <img class="nav-img-user" src="/img/tick.png" style="height: 1.5em;" />
                                <p3>Get</p3>
                                <img class="nav-img-user" src="/img/crown.png" style="height: 1.5em;" />
                                <p3>on your profile</p3>
                                <br />
                                <img class="nav-img-user" src="/img/tick.png" style="height: 1.5em;" />
                                <p3>Extra boost your profile</p3>
                                <br />
                                <img class="nav-img-user" src="/img/tick.png" style="height: 1.5em;" />
                                <p3>Ad free</p3>
                                <br />
                                <img class="nav-img-user" src="/img/tick.png" style="height: 1.5em;" />
                                <p3>Cancel any time</p3>
                            </div>
                        </span><br>
                        <% if(pf.is_premium == 'no'){%>
                        <button class="prem-button center" type="button" onclick="showPaymentPopup()">Get Premium</button>
                        <% }else{  %>
                        <button class="prem-button center">Cancel Premium</button>
                        <%}%>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Animation library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    <script>
        function closePaymentPopupButton() {
            ViewPaymentModalAnimationReversed();
        }
        function showPaymentPopup() {
            $("#viewPayment-popup").css("display", "flex");
            ViewPaymentModalAnimation();
        }

        //Animation view payment modal
        function ViewPaymentModalAnimationReversed() {
            ViewPaymentModalAnimation(true);
        }

        function ViewPaymentModalAnimation(reversed = false) {
        const modal = document.getElementById('viewPayment-popup');
        const modal_body = document.getElementById('viewPayment-popup-bg');
        const tl2 = new TimelineLite({ easeIn: Power3.easeOut });
        tl2.fromTo(modal, 0.20, { 
            opacity: 0 
        }, { 
            opacity: 1 
        }, 0)
        tl2.fromTo(modal_body, 0.20, {
            scale: 0,
            opacity: 0
        }, {
            scale: 1,
            opacity: 1
        }, 0);
        if (reversed) {
            tl2.reverse(0.3);
            setTimeout(function () {
            $("#viewPayment-popup").css("display", "none");
            }, 500);
        }
        }
    </script>



</body>

</html>