<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NewTutorHere</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
  <!-- <link rel="shortcut icon" href="img/dog.ico" /> -->

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <!-- <script src="script.js"></script> -->
  <!-- <script>checkStatus()</script> -->
</head>

<body>
  <%- include navbar %>
  <div class="big-bg">
    <!-- Content -->
  <div class="dashboard">
      <div class="profile-box color-lightgreen center" id="contract-form">
          <div class="pf-box center">
              <div class="pfphoto-box">
                  <img class="nav-img-user center" src="../img/user.png" style="height: 7em;" />
              </div>
              <div class="pfdetail-box be-right">
                  <span class="name-contract">
                      <button class="editpf-button be-right" >Edit Profile</button>
                      <p>Palinee Setsiripaiboon</p>
                      <img class="nav-img-user" src="../img/placeholder.png" style="height: 1.1em;" /><a>Bangkok, Thailand</a><br />
                      <b>Email</b><a>abc@gmail.com</a><br />
                      <b>Phone Number</b><a>XXX-XXX-XXXX</a><br />
                      <b>Gender</b><a>Female</a><br />
                      <b>Bio</b><a>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
                  </span>
              </div>
          </div>
          <div class="ratesum-box">
              <span class="name-contract">
                  <c>Rate Summary</c>
                  
              </span>
              <button class="edit-button be-right" >Edit courses</button>
          </div>
          <div class="qual-box be-right">
              <span class="name-contract">
                  <c>Qualifications</c>
              </span>
          </div><br />
          <div class="ratesum-box">
              <span class="name-contract">
                  <c>Availability</c>
              </span>
              <button class="edit-button be-right" >Edit availability</button>
          </div>
          
      </div>
  </div>
</div>
</body>

</html>