<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NewTutorHere</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
    <!-- <link rel="shortcut icon" href="img/dog.ico" /> -->

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <!-- <script src="script.js"></script> -->
    <!-- <script>checkStatus()</script> -->
  </head>
  <body>
    <%- include navbar %>
    <div class="big-bg">
        <!-- Content -->
      <div class="dashboard">
          <div class="contract-box color-lightgreen center" id="contract-form">
              <form class="form" id="contract">s
                  <img class="nav-img-user" src="/img/user.png" style="height: 5em;" />
                  <div class="c-box be-right">
                      <div class="blockcontract">
                          <span class="name-stucontract">
                              
                              <a>sends a contract to</a>
                              <p>Palinee Setsiripaiboon</p>
                          </span>
                          <br />
                          <button class="view-button search-button be-right" >Cancel a contract</button>
                          <button class="view-button search-button be-right" >View a contract</button>
                      </div>
                  </div>   
              </form>
          </div>
      </div>
    </div>
  </body>
</html>