{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Simple API",
        "description": "A simple API to learn how to write OpenAPI Specification"
    },
    "schemes": [
        "https"
    ],
    "host": "simple.api",
    "basePath": "/openapi101",
    "paths": {
        "/home": {
            "get": {
                "summary": "Gets homepage",
                "description": "Gets homepage"
            }
        },
        "/register": {
            "post": {
                "summary": "Registers new user",
                "description": "Registers new user"
            }
        },
        "/home_admin": {
            "get": {
                "summary": "Gets homepage for admin",
                "description": "Gets homepage for admin"
            }
        },
        "/profile": {
            "get": {
                "summary": "Gets user's profile page",
                "description": "Gets user's profile page"
            },
            "post": {
                "summary": "Gets user's profile page",
                "description": "Gets user's profile page"
            }
        },
        "/edit_profile": {
            "post": {
                "summary": "Edits user's profile page",
                "description": "Edits user's profile page"
            }
        },
        "/schedule": {
            "get": {
                "summary": "Gets user's schedule",
                "description": "Gets user's schedule"
            }
        },
        "/profile/edit_availability/:id": {
            "post": {
                "summary": "Edits availability",
                "description": "Edits availability of the user currently logged in"
            }
        },
        "/profile/add_course": {
            "post": {
                "summary": "Adds new course",
                "description": "-"
            }
        },
        "/delete_comment": {
            "post": {
                "summary": "Deletes comment",
                "description": "-"
            }
        },
        "/delete_course": {
            "post": {
                "summary": "Deletes course",
                "description": "-"
            }
        },
        "/accept_contract": {
            "get": {
                "summary": "Accepts contract",
                "description": "-"
            }
        },
        "/reject_contract": {
            "post": {
                "summary": "Rejects contract",
                "description": "-"
            }
        },
        "/premium": {
            "get": {
                "summary": "Gets premium page",
                "description": "-"
            }
        },
        "/buy_premium": {
            "post": {
                "summary": "Buys premium",
                "description": "-"
            }
        },
        "/cancel_premium": {
            "post": {
                "summary": "Cancels premium",
                "description": "-"
            }
        }
    }
}