/* style for All background and nav-bar  */

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.ttf') format('truetype');
}
@font-face {
    font-family: 'DolceVitaHeavy';
    src: url('../fonts/DolceVitaHeavy.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'HelveticaNeue', 'DolceVitaHeavy';
    /* font-weight: 500; */
}

body {
    /* background-color: #F1F0EC; */
    margin: 0;
    width: 100%;
    font-family: 'HelveticaNeue';
    font-size: 1em;
    letter-spacing: 0.15em;
}

.be-left {
    float: left;
}

.be-right {
    float: right;
}

.color-white {
    background-color: white;
}

.color-green {
    background-color: #4C5F21;
}

.color-lightgreen {
    background-color: #C1D29F ;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


div.big-bg {
    /*position: absolute, sticky;*/
    width: 100%;
    height: 100vh;
    /* overflow-y: hidden; */
    overflow-y: scroll;
}


div.half {
    width: 50%;
    height: 100%;
}

div.index-box {
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

img.main-logo {
    width: 45%;
}

.close-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 7px 10px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    border-radius: 0.2em;
    right: 21em;
    top: 1.5em;
}

.close-button:hover {
    background-color: gray;
}

.deleteCourse-button {
    background-color: transparent;
    border: none;
    padding: 7px 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0.2em;
    right: 21em;
    top: 1.5em;
}

.deleteCourse-button:hover {
    background-color: gray;
}

h1 {
    font-family: 'DolceVitaHeavy';
    font-size: 3.5em;
    /* font-weight: bold; */
    color: #017F00;
}

div.form-group-main {
    padding: 15px 0px 15px 0px;
    /* font-weight: bold; */
    color: white;

}

.control-label {
    font-size: 1em;
    color: #69765A;
    letter-spacing: 0.06em;
}

input {
    width: 100%;
    height: 25pt;
    border: none;
    padding-left: 10px;
    color: black;
    font-size: 1em;

}

::placeholder {
    color: #C1D29F;
}

button.submit-button {
    width: 120pt;
    height: 32pt;
    background-color: #86916E;
    padding: 5px 0px 5px 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1em;
    /* font-weight: bold; */
    letter-spacing: 0.15em;

}

button:hover.submit-button {
    background-color: #879437;
}


#sign-up-form {
    display: none;
    z-index: 100;
    width: 100%;
    height: 100vh;
    position: fixed;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.5);
}

#edit-profile-form {
    display: none;
    z-index: 100;
    width: 100%;
    height: 100vh;
    position: fixed;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    
}

#contract-form-popup {
    display: none;
    z-index: 100;
    width: 100%;
    height: 100vh;
    position: fixed;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.5);

}

div.form-bg {
    width: 40%;
    height: 80%;
    /* margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */

    border: none;
    border-radius: 50px;
    padding: 50px 70px 50px 70px;
}

.form-name p{
    font-size: 2.5em;
    /* font-weight: bold; */
    color: #4C5F21;
    padding-bottom: 0.3em;
}

div.form-group {
    padding: 0px 0px 10px 0px;
}

.half-box {
    padding: 0px 0px 10px 0px;
    width: 48%;
}

input[type="radio"] {
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    /* background-color: #ddd; */
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5em;
    margin-left: 1em;
    position: relative;
}

select{
    width: 20%;
    height: 25pt;
    border: none;
    padding-left: 10px;
    color: #C1D29F;
    background-color: white;
}


div.text-sign-in p {
    float: left;
    margin-right: 10px;
}

.link-sign-in{
    text-decoration: underline;
}

/* Navigation bar */
ul.nav-bar{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: visible;
}

ul.nav-bar li, ul.nav-menu li {
    display: inline-block;
    position: relative;
    text-align: left;
}

ul.nav-bar li.title {
    bottom: 1.3em;
}

ul.nav-menu li{
    line-height: auto;
    float: right;
}

ul.nav-menu li.profile {
    top: 1em;
}

ul.nav-menu li.text {
    top: 2.2em;
}

ul.nav-bar li a, ul.nav-menu li a {
    display: block;
    color: white;
    text-decoration: none;
}

ul.nav-bar li a {
    padding: 5px 5px;
    font-family: 'DolceVitaHeavy';
    font-size: 2.5em;
    /* font-weight: bold; */
    letter-spacing: 0em;
}

ul.nav-menu li a {
    padding: 5px 15px 5px 15px;
    font-family: 'HelveticaNeue';
    font-size: 1em;
    letter-spacing: 0.15em;
}

ul.nav-menu li a:hover{
    background: #939393;
}

ul.nav-menu li ul.dropdown{
    min-width: 100%;
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

ul.nav-menu li:hover ul.dropdown{
    display: block;
}

ul.nav-menu li ul.dropdown li{
    display: block;
    line-height: 2em;
}

ul.nav-menu li ul.dropdown li a{
    color: black;
}

ul.nav-menu li ul.dropdown li:hover a{
    color: white;
}

/* Search Bar */
div.search-box {
    width: 60%;
    height: 20em;
    border: none;
    border-radius: 40px;
    padding: 30px 10% 0px 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.control-label-price {
    font-size: 25px;
    /* font-weight: bold; */
    color: white;
    padding-left: 1em;
    padding-right: 0.5em;
}

.img-star-search {
    height: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
}

button.search-button {
    float: right;
}

/* rating star */
.rating {
    display: inline-block;
}


.rating:not(:checked) > input {
    display:none;
}

.rating:not(:checked) > label {
    float: right;
    width: 28px;
    padding: 0 4px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
    filter: saturate(0);
    -webkit-filter: saturate(0);
    -moz-filter: saturate(0);
    -o-filter: saturate(0);
    
}

.rating:not(:checked) > label:before {
    content: url("../img/star2.png") ' ';
}

.rating > input:checked ~ label {
    filter: saturate(1);
    -webkit-filter: saturate(1);
	-moz-filter: saturate(1);
    -o-filter: saturate(1);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    filter: saturate(1);
    -webkit-filter:saturate(1);
	-moz-filter: saturate(1);
    -o-filter:saturate(1);
    
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    filter: saturate(1);
    -webkit-filter:saturate(1);
	-moz-filter: saturate(1);
    -o-filter:saturate(1);
	
}

/*Contract*/
div.contract-box {
    width: 56%;
    height: 40em;
    border: none;
    padding: 30px 7% 0px 7%;
}
div.contractlog-box {
    width: 26%;
    height: 40em;
    border: none;
    padding: 30px 2% 0px 2%;
    display: inline;
}
div.blockcontract {
    width: 100%;
    height: 4em;
    border: none;
    border-radius: 25px;
    padding: 15px 0% 0px 0%;
    background-color: #ddd;
    /*margin-top: 1em;
    margin-bottom: 1em;*/
}
.c-box {
    /*padding: 0px 0px 10px 0px;*/
    width: 85%;
}
.name-contract p{
    font-size: 1em;
    /* font-weight: bold; */
    color: #4C5F21;
    padding-left: 1em;
    padding-bottom: 0.5em;
    display: inline-block;
    letter-spacing: 0.08em;
}
button.view-button {
    width: 120pt;
    /*height: 32pt;*/
    background-color: #86916E;
    padding: 5px 0px 5px 0px;
    /*margin-top: 10px;
    margin-bottom: 20px;*/
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
    /* font-weight: bold; */
    letter-spacing: 0.08em;
    margin-right: 2%;
}

button:hover.view-button {
    background-color: #879437;
}
.name-contract a{
    font-size: 0.9em;
    color: black;
    letter-spacing: 0.08em;
}
.name-stucontract a{
    font-size: 0.8em;
    color: black;
    letter-spacing: 0.08em;
    padding-left: 1.5em;
}
.name-stucontract p{
    font-size: 1em;
    font-weight: bold;
    color: #4C5F21;
    padding-bottom: 0.5em;
    display: inline-block;
    letter-spacing: 0.08em;
}


.tutor-box  {
  
    right: 3vh;
    top: 3vh;
    bottom: 3vh;
    z-index: -1;
    width: 60%;
    height: auto;
    border: none;
    border-radius: 40px;
    padding: 2em 10% 2em 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.card-container {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.card {
    width: 450px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
}

.card h1 {
    text-align: center;
}

.card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#dE685E, #EE786E);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card.green .additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
}


.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.card .additional .user-card .points {
    top: 85%;
}

.card .additional .user-card svg {
    top: 50%;
}

.card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}

.card .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
}

.card.green .additional .more-info h1 {
    color: #224C36;
}

.card .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
}

.card.green .additional .coords {
    color: #325C46;
}

.card .additional .coords span+span {
    float: right;
}

.card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
}

.card.green .additional .stats {
    color: #325C46;
}

.card .additional .stats>div {
    flex: 1;
    text-align: center;
}

.card .additional .stats i {
    display: block;
}

.card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
    font-size: 2.5rem;
}

.card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

.card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
}

/*profile*/
div.profile-box {
    width: 70%;
    height: 70em;
    border: none;
    padding: 30px 5% 0px 5%;
}
.pf-box {
    /*padding: 0px 0px 10px 0px;*/
    width: 100%;
    height: 20%;
    background-color: white;
}
.review-box {
    /*padding: 0px 0px 10px 0px;*/
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    display: inline-block;
    padding-bottom: 1%;
}
.pfphoto-box{
    width: 20%;
    height: 30%;
    padding-top: 1%;
}
.pfdetail-box{
    width: 80%;
    height: 35%;
    margin-top: -4.5%;
}
.name-contract b{
    font-size: 0.9em;
    /* font-weight: bold; */
    color: #4C5F21;
    padding-left: 2em;
    padding-right: 1.2em;
    padding-bottom: 0.4em;
    display: inline-block;
    letter-spacing: 0.08em;
}
button.editpf-button {
    width: 20%;
    background-color: #86916E;
    padding: 5px 0px 5px 0px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
    /* font-weight: bold; */
    letter-spacing: 0.15em;
    margin-right: 2%;
}

button:hover.editpf-button {
    background-color: #879437;
}
.ratesum-box{
    margin-top: 2%;
    width: 48%;
    height: auto;
    background-color: white;
    display: inline-block;
    padding-bottom: 1%;
}
.name-contract c{
    font-size: 1em;
    /* font-weight: bold; */
    color: #4C5F21;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1.2em;
    padding-bottom: 0.4em;
    display: inline-block;
}
.qual-box{
    margin-top: 2%;
    width: 48%;
    /*height: 63%;*/
    height: auto;
    background-color: white;
    padding-bottom: 1%;
}
button.editCourse-button {
    width: 27%;
    background-color: #86916E;
    padding: 5px 0px 5px 0px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
    /* font-weight: bold; */
    letter-spacing: 0.15em;
    margin-right: 2%;
    margin-top: inherit;
}

button:hover.editCourse-button {
    background-color: #879437;
}

button.addCourse-button {
    width: 27%;
    background-color: #86916E;
    padding: 5px 0px 5px 0px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
    /* font-weight: bold; */
    letter-spacing: 0.15em;
    margin-right: 2%;
    margin-top: inherit;
}

button:hover.addCourse-button {
    background-color: #879437;
}

button.verifyDoc-button {
    width: 27%;
    background-color: #86916E;
    padding: 5px 0px 5px 0px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
    /* font-weight: bold; */
    letter-spacing: 0.15em;
    margin-right: 2%;
    margin-top: inherit;
}

button:hover.verifyDoc-button {
    background-color: #879437;
}

button.editAva-button {
    width: 27%;
    background-color: #86916E;
    padding: 5px 0px 5px 0px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
    /* font-weight: bold; */
    letter-spacing: 0.15em;
    margin-right: 2%;
    margin-top: inherit;
}

button:hover.editAva-button {
    background-color: #879437;
}

button.sendcontract-button {
    width: 17%;
    background-color: #86916E;
    padding: 5px 0px 5px 0px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
    /* font-weight: bold; */
    letter-spacing: 0.15em;
    margin-right: 2%;
    margin-top: inherit;
}

button:hover.sendcontract-button {
    background-color: #879437;
}

/*tutor box after search click*/
.tt-box {
    /*padding: 0px 0px 10px 0px;*/
    width: 100%;
    height: 10em;
    background-color: white;
    margin-bottom: 1em;
}
div.tutorse-box {
    width: 70%;
    height: auto;
    border: none;
    border-radius: 40px;
    padding: 30px 5% 30px 5%;
    margin-top: 1em;
    margin-bottom: 1em;
}
textarea {
    width: 100%;
    font-size: 1em;
    color: black;
    letter-spacing: 0.06em;
    padding: 5px 8px 5px 8px;
}




.my-modal {
    color: #000000;
    position: fixed;
    display: none;
    height: 100vh;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
}

.my-modal .my-modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    min-height: 256px;
    width: 75%;
    max-width: 1024px;
    background: white;
    border-radius: 1.5em;
    padding: 1.5em;
}

.my-modal .my-modal-body .my-modal-head {
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.2em;
}

.my-modal .my-modal-body .my-modal-content {
    width: 100%;
    height: auto;
    max-height: 40vh;
    overflow-y: auto;
    font-size: 0.8em;
    text-align: center;
}

.my-modal .my-modal-body .my-modal-inline {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.my-modal .my-modal-body .my-modal-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 0.1em 1.2em;
    margin-top: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    color: white;
    border-radius: 1.2em;
}

.my-modal .my-modal-body .my-modal-button.my-modal-green {
    background: #69DADA;
}

.my-modal .my-modal-body .my-modal-button.my-modal-red {
    background: #EC006C;
}

.my-modal hr {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-top: 0.1em solid #D4145A;
    border-color: #D4145A;
    border-style: inset;
    width: 80%;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 0.7em;
}
.qual-item{
    width: 70%;
    height: auto;
    background-color: #ddd;
    border: none;
    border-radius: 13px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-left: 15%;
}
.conlog-item{
    width: 85%;
    height: 3em;
    background-color: #ddd;
    border: none;
    border-radius: 13px;
    /*text-align: center;*/
    padding-top: 3%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-left: 5%;
}
button.view2-button {
    width: 30%;
    /*height: 32pt;*/
    background-color: #86916E;
    padding: 5px 0px 5px 0px;
    /*margin-top: 10px;
    margin-bottom: 20px;*/
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
    /* font-weight: bold; */
    letter-spacing: 0.08em;
    margin-right: 2%;
}

button:hover.view2-button {
    background-color: #879437;
}

/* view contract */
#contract-popup {
    display: none;
    z-index: 100;
    width: 100%;
    height: 100vh;
    position: fixed;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.5);

}